.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 26px 70px;
    margin-bottom: 28px;
}

.card {
    width: 220px;
    height: 140px;
    padding: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.icon {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.card h2 {
    font-size: 15px;
    font-weight: 700;
    color: #0D213D;
    margin-bottom: 8px;
}

.card p {
    font-size: 12px;
    font-weight: 400;
    color: #63758C;
    line-height: 1.3;
}

.visits {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 32px;
    box-shadow: 0 8px 24px rgba(13, 33, 61, 0.08);
}

.visits h2 {
    font-size: 24px;
    font-weight: 700;
    color: #0D213D;
    margin-bottom: 30px;
}

.visits table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.visits th,
.visits td {
    text-align: left;
    padding: 18px 24px;
}

.visits th {
    background-color: #DDF4FF;
    font-size: 14px;
    font-weight: 700;
    color: #0D213D;
}

.visits td {
    font-size: 14px;
    color: #63758C;
    padding-top: 24px;
    padding-bottom: 24px;
}

.visits thead th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.visits thead th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.page-layout{
    display: flex;

}
main{
    flex: 1
}
.sidebar {
    width: 260px;
    background-color: #0578FA;
    padding: 36px 22px;
    box-sizing: border-box;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    display: block;
    padding: 12px 18px;

    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.92);

    border-radius: 14px;
    white-space: nowrap;
}

.sidebar a:hover {
    background-color: #fff;
    color: #0578FA;
    box-shadow: 0 8px 20px rgba(0, 80, 180, 0.18);
}

.sidebar .dashboard a {
    background-color: #fff;
    color: #0578FA;
    box-shadow: 0 8px 20px rgba(0, 80, 180, 0.18);
}

